/* Write your CSS code here */
/* Write your CSS code here */
.bg4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.home-img4 {
  height: 30vh;
}
.home-heading4 {
  font-size: 60px;
}