/* Write your CSS code here */
/* Write your CSS code here */
.bg3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.home-img3 {
  height: 30vh;
}
.home-heading3 {
  font-size: 60px;
}
